<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Log in</title>
    <div th:replace="fragments/styling  :: headStyles"></div>
    
</head>
<body>
    <div class="container">
        <div th:replace="fragments/navbar"></div>
        <h2>Welcome!</h2>
        <form th:action="@{/login}" method="post">
            <input type="text" id="username" name="username" th:placeholder="Username" class="form-control"><br/>
            <input type="password" id="password" name="password" th:placeholder="Password" class="form-control"><br/>

            <!-- Align this with bootstrap later -->
            <div class="text-left" th:if="${param.error}">
                <h4 style="color:red;">Login unsuccessful</h4>
            </div>
            <button class="btn btn-md btn-success btn-block" name="Submit" value="Login" type="Submit">Log in</button>
        </form>
        <br>
        <a class="btn btn-md btn-primary btn-block" th:href="@{/signup}">Signup</a>
    </div>
</body>
</html>